.DS_Store
.env
__pycache__
.mypy_cache
/meetings_per_user
config.yaml
participants_VR
vr-meeting-id.csv
reports
report
users_info
participants_lists_ff
participants_lists
participants_lists_SoSe2021
participants*
participants_json
participants_FF
download_this_week_s_reports
w11
*.csv
*.txt
*.html
*.env
.json
